.fonte-principal{
    font-weight: bold;
    font-size: 60px;
}
.fonte-secundaria{
    font-size: 35px;
}
.ctx{
    text-align: center;
}
.mt-20{
    margin-top: 20px;
}
.form-label {
    font-weight: bold;
    margin-bottom: 8px;
}

.form-select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-select option {
    padding: 4px;
}
