.divCards{
    width: 160px;
    height: 66px;
    margin: 10px;
}
.tituloCard{
    background: #0F1825;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding: 14px;
    border-radius: 4px 4px 0 0;
}
.conteudoCard{
    background: #122342;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding: 14px;
    border-radius: 0 0 4px 4px;
}
.tituloSecundario{
    font-family: Rubik One;
    font-size: 25px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
}

.flashcard-facil{
    background-color: #1DAB1A;
    border: 0;
    border-radius: 3px;
}

.flashcard-medio{
    background-color: #E8910E;
    border: 0;
    border-radius: 3px;
}

.flashcard-dificil{
    background-color: #FE0000;
    border: 0;
    border-radius: 3px;
}