{% extends "base.html" %}
{% load static %}

{% block 'cabecalho' %}

    <link href="{% static 'usuarios/css/cadastro.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/novo_flashcard.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/iniciar_desafio.css' %}" rel="stylesheet">
    <link href="{% static 'flashcard/css/desafio.css' %}" rel="stylesheet">
    <link href="{% static 'apostila/css/adicionar_apostilas.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

{% endblock 'cabecalho' %}


{% block 'conteudo' %}
    {% include "partials/header.html" %}
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md">
                <div class="box-form">
                    {% if messages %}
                        <br>
                        {% for message in messages %}
                            <section class="alert {{message.tags}}">
                                {{message}}
                            </section>
                        {% endfor %}
                        <br>
                    {% endif %}
                    <form action="{% url 'adicionar_apostilas' %}" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                        <p class="fonte-secundaria">Adicionar resumos</p>
                        <label for="titulo">Titulo</label>
                        <input type="text" name="titulo" id="titulo" class="form-control">
                        <br>
                        <label for="arquivo">Arquivo</label>
                        <input type="file" name="arquivo" id="arquivo" class="form-control">
                        <br>
                        <label for="tags">Tags(separadas por ,)</label>
                        <input type="text" name="tags" id="tags" class="form-control">
                        <br>
                        <input type="submit" class="btn-cadastro" value="Enviar">
                    </form>
                </div>
            </div>
            <div class="col-md">
                <div class="tabela-limitada">
                    <table class="tabela1">
                        <thead>
                        <tr>
                            <th scope="col">Titulo</th>
                            <th scope="col">Tag</th>
                            <th scope="col">Ação</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for apostila in apostilas %}
                                <tr class="linha">
                                    <td>{{apostila.titulo}}</td>
                                    <td>{% for tag in apostila.lista_de_tags %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                                    <td><a href="{% url 'apostila' apostila.id %}" style="color: #fff; text-decoration: none;" class="btn-cadastro">Abrir</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <hr>
                <p class="fonte-secundaria">Views totais: {{views_totais}}</p>
            </div>
        </div>
        <hr>
        <br>
        <br>
        <div class="row">
            <div class="col-md">
                <div class="box-form">
                    <form action="{% url 'listar_tags' %}" method="GET" enctype='multipart/form-data'>
                        <p class="fonte-secundaria">Buscar resumos</p>
                        <label for="tags">Tags(separadas por ,)</label>
                        <input type="text" name="tags" id="tags" class="form-control">
                        <br>
                        <input type="submit" class="btn-cadastro" value="Buscar">
                    </form>
                </div>
            </div>
            <div class="col-md">
                <div class="tabela-limitada">
                    {% if apostilas_filtradas %}
                        <table id="tabela2">
                            <thead>
                            <tr>
                                <th scope="col">Titulo</th>
                                <th scope="col">Tag</th>
                                <th scope="col">Ação</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for apostila in apostilas_filtradas %}
                                    <tr class="linha">
                                        <td>{{apostila.titulo}}</td>
                                        <td>
                                            {% for tag in apostila.tags.all %}
                                                {{ tag.nome }}
                                                {% if not forloop.last %}, 
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td><a href="{% url 'apostila' apostila.id %}" style="color: #fff; text-decoration: none;" class="btn-cadastro">Abrir</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock 'conteudo' %}